body {
  width : 100vw;
  height : 100vh;
  margin : 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#bloc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#bloc div {
  width: 100%;
  height : 50px;
  border : 1px solid black;
}

#bloc div:hover {
  border : 5px dashed grey;
}

#chrono {
  color : white;
  display: block;
  position: absolute;
  top: 50px;
  left : calc(50% - attr(width) / 2);
  font-size : 2em;
}

.fil_1 {
  background-color: blue;
  color: blue;
}

.fil_2 {
  background-color: red;
  color: red;
}

.fil_3 {
  background-color: yellow;
  color: yellow;
}

.fil_4 {
  background-color: green;
  color: green;
}

.fil_5 {
  background-color: white;
  color: white;
}

.fil_6 {
  background-color: magenta;
  color: magenta;
}
